* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: calc(100vh - 92px);
    margin: 46px 0 46px 0;
    background-color: #d9d9d9;
  
}

html ,body{

    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 46px;
    background-color: #fad02c;
    position: fixed;
    top: 0;
    z-index: 1;
}



.nav-btn {
    width: 33.3333%;
    height: 46px;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    padding-left: 180px;
    cursor: pointer;
}

.nav-btn:hover {
    opacity: 0.6;
}

.logo {
    width: 33.3333%;
    height: 46px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    margin-top: 4px;
    cursor: pointer;
}

#nav {
    float: right;
    width: 33.3333%;
    /* display: inline-block; */
}

#nav li {
    display: block;
    list-style: none;
    margin: 0 8px;
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 2px 24px;
    text-transform: uppercase;
    font-size: 24px;
    color: #000;
}

#nav li a:hover {
    background-color: #967908;
    border-radius: 25px;
}

#nav>li {
    display: inline-block;
}

#content .res-list{
    background-color: #fff;
}
#content{

}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: content; /* Đảm bảo kích thước grid dựa trên nội dung */
    margin: auto; /* Căn giữa */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px; /* Tạo khoảng cách phía trên */
}

.menu-item {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.menu-item img {
    max-width: 100%;
    border-radius: 10px;
}

.menu-name {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.menu-price {
    font-size: 16px;
    color: #555;
}
.footer-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 0;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.footer-nav a.active {

}

#footer {
    /* clear: both; */
    color: #fff;
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

#footer p{
    font-size: 24px;
    line-height: 46px;
}