<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resinfo</title>
    <link rel="stylesheet" href="../../static/assets/css/styles.css">

<!--    link font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/assets/css/font.css">


</head>
<body>
    <div id="main">
        <div id="header">
            <div class="nav-btn">
                <i class="nav-icon ti-menu"></i>
                <ul class="subnav">
                    <li><a href="restaurant/restaurant.html">Restaurant registration</a></li>
                    <li><a href="user/myprofile.html">My Page</a></li>
                </ul>
            </div>
            <div class="logo">
                <p>Inside Out</p>
            </div>
            <ul id="nav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../signup.html">SIGN UP</a></li>
            </ul>
        </div>
        <div id="content">
            <div class="restaurant-info">
                <div class="info-title">식당 정보:</div>
                <div class="restaurant-details">
                    <div class="image-section">
                        <img src="images/restaurant.jpg" alt="Restaurant Image">
                    </div>
                    <div class="text-section">
                        <h2>식당 2</h2>
                        <p>주소: 서울 송파구 올림픽로 424</p>
                        <p>전화번호: 010-1234-5678</p>
                        <p>영업시간: 10:30 ~ 22:30</p>
                        <p>리뷰: <span class="stars">★★★★★</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <nav class="footer-nav">
                <a href="#">메뉴</a>
                <a href="#">정보</a>
                <a href="#">리뷰 </a>
                <a href="#" class="active">예약</a>
            </nav>
        </div>

        <div id="footer">
            <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
        </div>
    </div>
</body>
</html>