* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    height: calc(100vh - 92px);
    margin: 46px 0 46px 0;
    background-color: #d9d9d9;
  
}

html ,body{
    font-size: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 46px;
    background-color: #fad02c;
    position: fixed;
    top: 0;
    z-index: 1;
}


.nav-btn {
    width: 33.3333%;
    height: 46px;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    padding-left: 180px;
    cursor: pointer;
}

.nav-btn:hover {
    opacity: 0.6;
}

.logo {
    width: 33.3333%;
    height: 46px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    margin-top: 4px;
    cursor: pointer;
}

#nav {
    float: right;
    width: 33.3333%;
    /* display: inline-block; */
}

#nav li {
    display: block;
    list-style: none;
    margin: 0 8px;
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 2px 24px;
    text-transform: uppercase;
    font-size: 24px;
    color: #000;
}

#nav li a:hover {
    background-color: #967908;
    border-radius: 25px;
}

#nav>li {
    display: inline-block;
}

#content .res-list{
    background-color: #fff;
}
#content{

}
.form-section {
    background-color: #e0e0e0;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 16px;
    flex-basis: 30%;
    color: #333;
}

.form-group input[type="text"], .form-group input[type="file"] {
    width: 65%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button Group Styles */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #909090;
    color: white;
}

.delete-btn {
    background-color: #909090;
    color: white;
}



#footer {
    /* clear: both; */
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

#footer p{
    font-size: 24px;
    line-height: 46px;
}