<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nhà Hàng</title>
    <link rel="stylesheet" href="../../static/assets/css/info.css" />
  </head>
  <body>
    <div class="container">
      <h1>Thông Tin Nhà Hàng</h1>
      <div class="res-details">
        <img id="restImage" alt="Restaurant Image" class="res-img" />
        <div class="res-body">
          <h3 id="nameRestaurant"></h3>
          <p><strong>Mô tả:</strong> <span id="description"></span></p>
          <p><strong>Địa chỉ:</strong> <span id="address"></span></p>
          <p><strong>Điện thoại:</strong> <span id="phone"></span></p>
          <p>
            <strong>Thời gian mở cửa:</strong> <span id="openTime"></span> -
            <span id="closeTime"></span>
          </p>
          <p><strong>Loại:</strong> <span id="category"></span></p>
          <p><strong>Trạng thái:</strong> <span id="status"></span></p>
        </div>
      </div>
    </div>
    <script src="/static/js/restaurant/info.js"></script>
  </body>
</html>
