<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>식당예약시스템</title>
    <!-- Reset Css -->
    <link rel="stylesheet" href="../../static/assets/css/reset.css" />
    <!-- Style Css -->
    <link rel="stylesheet" href="../../static/assets/css/user/myprofile.css" />
    <!--    link font-->
    <link rel="stylesheet" href="../../static/assets/css/share.css" />
    <link rel="stylesheet" href="../../static/assets/css/user/linkuser.css" />
  </head>
  <body>
    <div id="main">
      <!-- Header -->
      <header>
        <div id="header">
          <div class="logo">
            <p>Inside Out</p>
          </div>
          <ul id="nav">
            <!-- <li><a href="/view/home">Home</a></li>
            <li><a href="/view/logout">Log Out</a></li> -->
          </ul>
        </div>
      </header>
      <!-- Body -->
      <section class="profile-section">
        <div class="profile-info">
          <div class="avatar-container">
            <img src="path/to/avatar.jpg" alt="Avatar" class="avatar" />
          </div>
          <div class="profile-details">
            <h2 id="username"></h2>
            <p id="email"></p>
            <p id="phone"></p>
            <p id="role"></p>
          </div>
          <button
            style="margin-top: 20px; margin-left: 30px"
            onclick="location.href='/view/update'"
          >
            Information
          </button>
        </div>
      </section>
      <ul id="nav-links"></ul>
      <!-- List link theo role -->

      <div id="footer">
        <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
      </div>
    </div>
    <script src="/static/js/user/profile.js"></script>
    <script src="/static/js/user/linkuser.js"></script>
  </body>
</html>
