<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>식당예약시스템</title>
    <link rel="stylesheet" href="../../static/assets/css/reset.css" />
    <link rel="stylesheet" href="../../static/assets/css/share.css" />
    <link rel="stylesheet" href="../../static/assets/css/user/openRest.css" />
    <link rel="stylesheet" href="../../static/assets/css/user/linkuser.css" />
  </head>
  <body>
    <div id="main">
      <!-- Header -->
      <header>
        <div id="header">
          <div class="logo">
            <p>Inside Out</p>
          </div>
          <ul id="nav"></ul>
        </div>
      </header>
      <!-- Body -->

      <section class="profile-section"></section>

      <section class="form-section">
        <h1>Restaurant Registration</h1>
        <form action="#" method="post" id="openRest-form">
          <div class="form-group">
            <label for="name">Restaurant Name :</label>
            <input type="text" id="name" />
          </div>
          <div class="form-group">
            <label for="business-No">Business Registration Number :</label>
            <input type="text" id="business-No" />
          </div>
          <div class="form-group">
            <label for="owner-Name">Owner's Name :</label>
            <input type="text" id="owner-Name" />
          </div>
          <div class="form-group">
            <label for="owner-Id">Owner's ID Card Number :</label>
            <input type="text" id="owner-Id" />
          </div>

          <div class="form-group">
            <label for="business-registration-image"
              >Image of Business Registration Certificate:</label
            >
            <input
              type="file"
              id="business-registration-image"
              accept="image/*"
              onchange="previewImage(event, 'business-preview')"
            />
            <img
              id="business-preview"
              src="default-image.jpg"
              alt="Business Registration Preview"
              style="
                display: none;
                margin-top: 10px;
                max-width: 100%;
                height: auto;
              "
            />
          </div>

          <div class="form-group">
            <label for="owner-id-image">Image of Owner's ID Card:</label>
            <input
              type="file"
              id="owner-id-image"
              accept="image/*"
              onchange="previewImage(event, 'owner-preview')"
            />
            <img
              id="owner-preview"
              src="default-image.jpg"
              alt="Owner ID Preview"
              style="
                display: none;
                margin-top: 10px;
                max-width: 100%;
                height: auto;
              "
            />
          </div>

          <!-- Buttons -->
          <div class="button-group">
            <button type="submit" class="edit-btn">Registration</button>
          </div>
        </form>
      </section>

      <ul id="nav-links"></ul>
      <!-- List link theo role -->

      <div id="footer">
        <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
      </div>
    </div>
    <script src="/static/js/user/openRest.js"></script>
    <script src="/static/js/user/linkuser.js"></script>
  </body>
</html>
