<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>식당예약시스템</title>
    <!-- Reset Css -->
     <link rel="stylesheet" href="../../static/assets/css/reset.css">

     <!-- Style Css -->
    <link rel="stylesheet" href="../../static/assets/css/review.css">
    <link rel="stylesheet" href="../../assets/icons/themify-icons/themify-icons.css">



<!--    link font-->
    <link rel="stylesheet" href="../../static/assets/css/review.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <main id="main">
        <nav id="header">
            <div class="nav-btn">
                <i class="nav-icon ti-menu"></i>
            </div>
            <div class="logo">
                <p>Inside Out</p>
            </div>
            <ul id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Log in</a></li>
            </ul>
        </nav>

        <!-- review content -->
        <div class="review">
            <h1>review</h1>
            <div class="review-group-1">
                <div class="avata"><img src="../../static/assets/img/avata.jpg" alt=""></div>
                <div class="content">
                    <ul class="title">
                        <li class="user-name">tom</li>
                        <li class="ranking">*****</li>
                        <li class="date">2024-09-12</li>
                    </ul>
                    <p class="disc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Soluta nobis ipsam laudantium quam suscipit beatae officiis doloremque assumenda voluptate quo quos excepturi,
                          hic maiores, voluptas cumque ab nesciunt quia! Cum!
                    </p>
                </div>
            </div>

            <div class="review-group-1">
                <div class="avata"><img src="../../static/assets/img/avata.jpg" alt=""></div>
                <div class="content">
                    <ul class="title">
                        <li class="user-name">tom</li>
                        <li class="ranking">****</li>
                        <li class="date">2024-09-12</li>
                    </ul>
                    <p class="disc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Soluta nobis ipsam laudantium quam suscipit beatae officiis doloremque assumenda voluptate quo quos excepturi,
                          hic maiores, voluptas cumque ab nesciunt quia! Cum!
                    </p>
                </div>
            </div>

            <div class="review-group-1">
                <div class="avata"><img src="../../static/assets/img/avata.jpg" alt=""></div>
                <div class="content">
                    <ul class="title">
                        <li class="user-name">tom</li>
                        <li class="ranking">***</li>
                        <li class="date">2024-09-12</li>
                    </ul>
                    <p class="disc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Soluta nobis ipsam laudantium quam suscipit beatae officiis doloremque assumenda voluptate quo quos excepturi,
                          hic maiores, voluptas cumque ab nesciunt quia! Cum!
                    </p>
                </div>
            </div>

            <div class="button">
                <button class="item">메뉴</button>
                <button class="item">정보</button>
                <button class="item">리뷰</button>
                <button class="item">예약</button>
            </div>

        </div>
        <div id="footer">
            <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
        </div>
    </main>
</body>
</html>