<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<main class="p-3">
  <div class="mx-auto w-50">
    <h1>Update</h1>
    <a href="/views">Back</a>
    <form id="update-form">
      <div class="mb-3">
        <label for="nickname-input" class="form-label">Nickname</label>
        <input type="text" id="nickname-input" class="form-control">
      </div>
      <div class="mb-3">
        <label for="name-input" class="form-label">Name</label>
        <input type="text" id="name-input" class="form-control">
      </div>
      <div class="mb-3">
        <label for="age-input" class="form-label">Age</label>
        <input type="number" id="age-input" class="form-control" min="10" step="10">
      </div>
      <div class="mb-3">
        <label for="email-input" class="form-label">Email</label>
        <input type="email" id="email-input" class="form-control">
      </div>
      <div class="mb-3">
        <label for="phone-input" class="form-label">Phone</label>
        <input type="text" id="phone-input" class="form-control">
      </div>
      <button id="update-button" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="mx-auto w-50">
    <h1>Update Image</h1>
    <div id="img-container" class="mx-auto my-3">
      <h3>No Image</h3>
    </div>
    <form id="profile-img-form">
      <div class="mb-3">
        <label for="image-input" class="form-label">Select Image</label>
        <input type="file" id="image-input" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/static/js/user/update.js"></script>
</body>
</html>