<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>식당예약시스템</title>
    <!-- Reset Css -->
    <link rel="stylesheet" href="../../static/assets/css/reset.css" />
    <!-- Style Css -->
    <link rel="stylesheet" href="../../static/assets/css/share.css" />
    <link rel="stylesheet" href="../../static/assets/css/user/update.css" />
    <link rel="stylesheet" href="../../static/assets/css/user/linkuser.css" />

    <!--    link font-->
    <link rel="stylesheet" href="../../static/assets/css/font.css" />
  </head>
  <body>
    <div id="main">
      <!-- Header -->
      <header>
        <div id="header">
          <div class="logo">
            <p>Inside Out</p>
          </div>
          <ul id="nav"></ul>
        </div>
      </header>
      <div id="back-profile">
        <a href="/view/profile" class="back-link"
          ><span class="arrow">&larr;</span>Profile
        </a>
      </div>
      <!-- Body -->

      <section class="profile-section">
        <div class="info-section">
          <h1>Change Information</h1>
          <form id="info-form">
            <div class="mb-3">
              <label for="phone-input" class="form-label">Phone:</label>
              <input
                type="text"
                id="phone-input"
                class="form-control"
                required
                placeholder="Enter your phone number"
              />
            </div>
            <div class="mb-3">
              <label for="email-input" class="form-label">Email:</label>
              <input
                type="text"
                id="email-input"
                class="form-control"
                required
                placeholder="Enter your email"
              />
            </div>
            <button id="update-button" type="submit" class="btn btn-primary">
              Submit
            </button>
          </form>
        </div>

        <!-- <div class="img-section">
          <h1>Change Image</h1>
          <div id="img-container" class="mx-auto my-3"></div>
          <form id="profile-img-form">
            <div class="mb-3">
              <label for="image-input" class="form-label">Select Image</label>
              <input type="file" id="image-input" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
        </div>

        <form id="profile-img-form" enctype="multipart/form-data">
          <div id="img-container">
            <img id="image-preview" src="default-image.jpg" alt="Preview" />
          </div>
          <input type="file" accept="image/*" required />
          <button type="submit" class="btn">Upload Image</button>
        </form> -->

        <div class="img-section">
          <h1>Change Image</h1>
          <form id="profile-img-form" enctype="multipart/form-data">
            <div id="img-container" class="mx-auto my-3">
              <img id="image-preview" src="default-image.jpg" alt="Preview" />
            </div>
            <div class="mb-3">
              <label for="image-input" class="form-label">Select Image</label>
              <input
                type="file"
                id="image-input"
                class="form-control"
                accept="image/*"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
        </div>

        <div class="password-section">
          <h1>Change Password</h1>
          <form id="password-form">
            <div class="mb-3">
              <label for="password-old" class="form-label">Old Password:</label>
              <input type="password" id="password-old" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="password-new" class="form-label">New Password:</label>
              <input type="password" id="password-new" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="password-confirm" class="form-label"
                >Confirm Password:</label
              >
              <input
                type="password"
                id="password-confirm"
                class="form-control"
              />
            </div>
            <button id="update-button" type="submit" class="btn btn-primary">
              Submit
            </button>
          </form>
        </div>
      </section>

      <ul id="nav-links"></ul>
      <!-- List link theo role -->

      <div id="footer">
        <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
      </div>
    </div>
    <script src="/static/js/user/update.js"></script>
    <script src="/static/js/user/linkuser.js"></script>
  </body>
</html>
