<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>식당예약시스템</title>
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <link rel="stylesheet" href="../static/assets/icons/themify-icons/themify-icons.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <div class="nav-btn">
                <i class="nav-icon ti-menu"></i>
                <ul class="subnav">
                    <li><a href="restaurant/restaurant.html">Restaurant registration</a></li>
                    <li><a href="user/myprofile.html">My Page</a></li>
                </ul>
            </div>
            <div class="logo">
                <p>Inside Out</p>
            </div>
            <ul id="nav">
                <li><a href="signup.html">Sign up</a></li>
                <li><a href="login.html">Log in</a></li>
            </ul>
        </div>
        <div id="content">
            <div class="res-list">
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-1.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-2.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-3.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-4.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-5.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-6.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-7.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-8.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-9.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
                <div class="res-item">
                    <img src="../static/assets/img/res-img/res-img-10.png" alt="" class="res-img">
                    <div class="res-body">
                        <h3>Tenasia</h3>
                        <p class="res-desc">hello</p>
                        <a href="menu/menu.html">
                            <button  class="js-reservation">reservation</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
        </div>
    </div>
</body>
</html>