<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="../static/assets/css/share.css" />
    <link rel="stylesheet" href="../static/assets/css/login.css" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div class="logo">
          <p>Inside Out</p>
        </div>

        <ul id="nav">
          <li><a href="/view/home">Home</a></li>
          <li><a href="/view/signup">Signup</a></li>
        </ul>
      </div>
      <div class="login" id="content">
        <form id="login-form" class="login-form">
          <h1>Login</h1>
          <label for="name">Username:</label>
          <input type="text" id="name" name="name" required />
          <br />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <br />
          <button type="submit" class="login-btn">Login</button>
          <p id="result"></p>
          <p>Don't have an account? <a href="/view/signup">Signup</a></p>
        </form>
      </div>

      <div id="footer">
        <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
      </div>
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>
