<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="../static/assets/css/styles.css" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div class="nav-btn">
          <i class="nav-icon ti-menu"></i>
        </div>
        <div class="logo">
          <p>Inside Out</p>
        </div>
        <ul id="nav">
          <li><a href="/view/home">Home</a></li>
          <li><a href="/view/signup">SIGNUP</a></li>
        </ul>
      </div>
      <div class="login-box">
        <form id="login-form" action="/submit-form">
          <h1>Welcome</h1>
          <h2>log in to your account</h2>

          <input
            type="text"
            id="username-input"
            class="form-control"
            required
          />

          <input
            type="password"
            class="form-control"
            id="password-input"
            required
          />

          <button class="login-btn">Login</button>
          <h5>Or login with:</h5>
          <div>
            <img
              class="kakao-img"
              src="assets/img/ka-na-icon/kakao-con.png"
              alt=""
            />
            <img
              class="naver-img"
              src="assets/img/ka-na-icon/naver-icon.png"
              alt=""
            />
          </div>
          <p>Don't have accout? <a>Sign up</a></p>
        </form>
      </div>
      <div id="footer">
        <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
      </div>
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>
