<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="../static/assets/css/share.css" />
    <link rel="stylesheet" href="../static/assets/css/signup.css" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div class="logo">
          <p>Inside Out</p>
        </div>

        <ul id="nav">
          <li><a href="/view/home">Home</a></li>
          <li><a href="/view/login">Login</a></li>
        </ul>
      </div>
      <div class="signup-form" id="content">
        <form id="signup-form" class="signup-form">
          <h1>Hello</h1>
          <h2>create your account</h2>
          <label for="username">Username:</label>
          <input type="text" id="username" name="name" required />
          <br />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <br />
          <label for="checkpw">Password Confirm :</label>
          <input type="password" id="checkpw" class="form-control" required />
          <br />
          <label for="email">Email:</label>
          <input type="email" id="email" class="form-control" required />
          <br />
          <label for="phone">Phone :</label>
          <input type="tel" id="phone" class="form-control" required />
          <br />
          <label>
            <input type="checkbox" name="agree" required />
            I agree to the terms and conditions.
          </label>
          <br />
          <button class="signup-btn" type="submit">register</button>
          <p>Have an account? <a href="/view/login">Login</a></p>
        </form>
      </div>

      <div id="footer">
        <p>ⓒ Copyright 2024 Inside Out All rights reserved.</p>
      </div>
    </div>
    <script src="/static/js/home/signup.js"></script>
  </body>
</html>
